<p id="notice"><%= notice %></p>

<h1>Куда пойти</h1>
<div>
  <div class="name">
    <%= @random_places.name %>
  </div>
  <div class="score">
    Рейтинг:&nbsp;<%= @random_places.score %>/5
  </div>
  <div class="body">
    <%= @random_places.body %>
  </div>
</div>
<br>